<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="lowerBound" value="5"/>
		<add key="upperBound" value="20"/>
		<add key="sleepTime" value="1000"/>
		<add key="randomWordApiLink" value="https://random-words-api.vercel.app/word"/>
		<add key="songApiPrefix" value="https://musicbrainz.org/ws/2/release?query="/>
	</appSettings>
</configuration>